<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Permite requisições para a pasta /api sem redirecionar para o React
  RewriteRule ^api/ - [L]

  # Se o arquivo ou diretório solicitado existir, serve ele diretamente
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Caso contrário, redireciona tudo para o index.html (SPA Routing do React)
  RewriteRule ^ index.html [L]
</IfModule>